* {
    box-sizing: border-box;
}

body {
    background-color: #f0f0f0 !important;
}

.zboy {
    z-index: -1;
}

.top-stripe {
    background-color: #fff;
    margin-top: 1.75em;
    width: 100%;
    height: 52.5px;
    position: absolute;
}

h1, h2, h3, h4, h5 {
    font-family: 'Anton', sans-serif;
}


p {
    font-family: 'Abel', sans-serif;
    font-size: 14px;
}

.design {
    background-color: #e6563b
}

.develop {
    background-color: #eb9d3a
}

.support {
    background-color: #76b06c
}

.host {
    background-color: #00aba9
}

.img-border {
    border: #e6e6e6 5px solid
}

.circle-border {
    border: white 5px solid
}

.large-circle {
    height: 105px;
    width: 105px;
}

.small-circle {
    height: 18px;
    width: 18px;
    font-size: 12px;
    font-family: 'Anton', sans-serif;
}

.logo {
    height: 105px;
    width: 105px;
}

.company-name {
    text-decoration: none;
    color: black;
    font-size: 64px;
}

.sm-tagline {
    /*font-size: 2em;*/
}