* {
    box-sizing: border-box;
}

body {
    background-color: #f0f0f0 !important;
}

.zboy {
    z-index: -1;
}

.top-stripe {
    background-color: #fff;
    margin-top: 1.75em;
    width: 100vw;
    height: 52.5px;
    position: absolute;
}

h1, h2, h3, h4, h5 {
    font-family: 'Anton', sans-serif;
}

i {
    color: #00acee
}

p {
    font-family: 'Abel', sans-serif;
    font-size: 14px;
}

.design {
    background-color: #e6563b
}

.develop {
    background-color: #eb9d3a
}

.support {
    background-color: #76b06c
}

.host {
    background-color: #00aba9
}

.img-border {
    border: #e6e6e6 5px solid;
    border-radius: 5px;
}

.circle-border {
    border: white 5px solid
}

.large-circle {
    height: 105px;
    width: 105px;
}

.small-circle {
    height: 18px;
    width: 18px;
    font-size: 12px;
    font-family: 'Anton', sans-serif;
}

.logo {
    height: 105px;
    width: 105px;
}

.company-name {
    text-decoration: none;
    color: black;
    font-size: 64px;
}


.img-sm-sizer {
    height: 163.1px;
    width: 240px;
}

.feature-sizer {
    height: 263px;
    width: 240px;
}

@media only screen and (min-width: 576px) {
    .col-sm-3 {
        max-width: 7em !important;
    }
    
    .hr-width {
        width: 77%;
    }

    .feature-sizer {
        height: 263px;
        width: 240px;
    }
    
    .nav-order-p {
        order: 2 !important;
        top: 90px;
        position: absolute;
    }
    
    .nav-order-ul {
        order: 1 !important;
    }

}

@media only screen and (min-width: 768px) {
    .col-sm-3 {
        max-width: 9em !important;
    }

    .hr-width {
        width: 100%;
    }

    .aside-img {
        height: 50px;
        width: 50px;
        border: 3px solid #e6e6e6;
        border-radius: 5px;
    }
}

@media only screen and (min-width: 992px) {

}